header {
    background: var(--background-card);
    color: var(--text-light);
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px; /* Adjust this value to move the logo more to the right */
    padding-right: 40px; /* Adjust this value to move the navigation more to the left */
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: var(--text-light);
    text-decoration: none;
    transition: text-decoration-color 0.3s, text-decoration-thickness 0.3s;
}

nav ul li a:hover {
    text-decoration: underline;
    text-decoration-color: var(--primary-color); /* Kulayan lang ang underline sa hover */
    text-decoration-thickness: 2px; /* Pakapalin ang underline */
    color: var(--text-light); /* Panatilihin ang text color */
}
